.main {
  background-color: var(--primaryDark500);
  border: 1px #000000 solid;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-auto-rows: max-content;
  gap: 1rem;
}

.message {
  width: 100%;
  padding: 0.5rem 1rem;
  background: var(--primaryDark600);
  border-radius: 0.3rem;
}

.message>li:nth-child(odd) {
  background: #efefef;
}