.main {
  display: grid;
  grid-template-rows: 10fr 1.5em;
  font-size: medium;
  padding: 0 3px;
  overflow: auto;
}

.pulse {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  box-shadow: 0 0 0 0 var(--pink);
  animation: pulse-c6zlskmd 1s infinite;
}

@keyframes pulse-c6zlskmd {
  100% {
    box-shadow: 0 0 0 2rem #0000;
  }
}

.videocam {
  position: fixed;
  top: 0.1em;
  right: 0.3em;
  font-size: 1.2rem;
  color: var(--pink);
}

.userList {
  position: fixed;
  top: 0.1em;
  left: 0.3em;
  font-size: 1.2rem;
  color: var(--pink);
}

.username {
  width: 100%;
  font-size: small;
  color: var(--greyDark);
  align-self: end;
  justify-self: end;
  position: fixed;
  top: 0.1em;
  text-align: center;
  z-index: -1;
  background-color: var(--greyLight);
}

.ul {
  list-style-type: none;
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
  display: grid;
  grid-auto-rows: max-content;
}

pre {
  margin: 6px 0;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.fromNotSelf {
  color: var(--green);
  display: grid;
  justify-items: right;
}