.main {
  margin: 0;
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 50%);
  overflow: auto;
  justify-content: flex-start;
  background-color: transparent;
}

.vid {
  height: 50%;
}

video {
  /* override other styles to make responsive */
  width: auto !important;
  height: 100% !important;
}