.main {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  font-family: monospace;
  border-top: none;
}

input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}

.input {
  width: 100%;
  font-family: monospace;
  background-color: transparent;
  color: var(--white);
  border: none;
}

.prompt {
  font-family: monospace;
  background-color: transparent;
  color: var(--white);
  z-index: 1;
}