.main {
  display: grid;
  grid-template-rows: 10fr 0.5fr;
  height: 100vh;
  align-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  background-color: #018281;
}

.horizontal {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
}