.main {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  height: 100vh;
  gap: 1rem;
  padding: 1rem;
  /* background-color: var(--greyDark); */
  background:
    radial-gradient(35.36% 35.36% at 100% 25%, #0000 66%, #c3c3c3 68% 70%, #0000 72%) 43px 43px/calc(2*43px) calc(2*43px),
    radial-gradient(35.36% 35.36% at 0 75%, #0000 66%, #c3c3c3 68% 70%, #0000 72%) 43px 43px/calc(2*43px) calc(2*43px),
    radial-gradient(35.36% 35.36% at 100% 25%, #0000 66%, #c3c3c3 68% 70%, #0000 72%) 0 0/calc(2*43px) calc(2*43px),
    radial-gradient(35.36% 35.36% at 0 75%, #0000 66%, #c3c3c3 68% 70%, #0000 72%) 0 0/calc(2*43px) calc(2*43px),
    repeating-conic-gradient(#bababa 0 25%, #0000 0 50%) 0 0/calc(2*43px) calc(2*43px),
    radial-gradient(#0000 66%, #c3c3c3 68% 70%, #0000 72%) 0 calc(43px/2)/43px 43px #bababa;
}