.main {
  background-color: #ffffff;
  border: 1px #000000 solid;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}

.logList {
  list-style-type: none;
  padding: 0;
}

.defaultLog {
  color: blue;
  padding: 0.5rem;
}

.successLog {
  color: green;
  padding: 0.5rem;
}

.errorLog {
  color: red;
  padding: 0.5rem;
}