.main {
  background-color: var(--primaryDark500);
  border: 1px #000000 solid;
  padding: 1rem;
  overflow: scroll;
}

.logList {
  height: 100%;
  overflow: scroll;
  list-style-type: none;
  padding: 0;
}

.defaultLog {
  color: blue;
  padding: 0.5rem;
}

.successLog {
  color: green;
  padding: 0.5rem;
}

.errorLog {
  color: red;
  padding: 0.5rem;
}