.form {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.input {
  width: 100%;
  font-family: monospace;
  background-color: var(--greyLight);
  border: 1px solid var(--greyDark);
  color: var(--white);
}