.logItem {
  width: 100%;
}

.fromSelf {
  color: var(--white);
}

.fromNotSelf {
  color: var(--green);
}

pre {
  margin: 6px 0;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.logList {
  overflow: scroll;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: 6px;
}

.helpCommandLog {
  color: var(--greyLight);
  white-space: nowrap;
}

.helpDescriptionLog {
  color: var(--greyDark);
}

.commandLog {
  color: var(--white);
}

.infoLog {
  color: var(--greyLight);
}

.errorLog {
  color: var(--pink);
}