.main {
  margin: 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  /* overflow: auto; */
  justify-content: flex-start;
  background-color: var(--greyLight);
}

.vid {
  height: 100%;
  width: 100%;
}

video {
  /* override other styles to make responsive */
  /* width: auto !important;
  height: 100% !important; */
}