.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
  background-color: transparent;
  overflow: auto;
}

.glassmorphism {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.08);
  border-radius: 0 0 13px 13px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(255, 255, 255, 0.14);
}

.vid {
  height: 100%;
  width: 100%;
}